body {
  background-color: #1e1e1e;
  color: #fff;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
article {
  margin: '1em 0';
}
article .article-header {
  color: #0048ff;
}
article h1 {
  font-size: 5em;
  font-weight: 600;
  margin: .5em 0 0 0;
}
article h2 {
  margin-bottom: 0;
  margin-top: 0;
}
article h3 {
  font-size: 1em;
  margin: -.5em 0 0 .2em;
}
article > .article-body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  margin-bottom: 6em;
  text-align: justify;
}
article > .content p {
  margin-bottom: 2em;
}
article > .content > .li {
  display: flex;
  margin-bottom: 5em;
}
article .text.left p {
  padding-right: 2em;
}
article .text.right h2,
article .text.right h3,
article .text.right p {
  padding-left: 38px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}
h1 {
  font-size: 5em;
  line-height: 1.3em;
  margin: 1em 0 .5em;
}
.hr {
  background-color: #fff;
  height: 1px;
  width: 100%;
}
#blog {
  margin: 0 12em;
}
