@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
